* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin-left: auto;
    padding: 2em;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav img {
    height: 20px;
}

nav button {
    padding: 9px;
    width: 90px;
    background: royalblue;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
}

main {
    width: 50%;
    margin: 5em auto;
    text-align: center;
}

input {
    width: 80%;
    padding: 1em;
    border-radius: 30px;
    border: 1px solid grey;
    outline: none;
}

.button {
    margin-top: 1em;
}

.button button {
    padding: 1em;
    border: none;
    border-radius: 4px;
}

footer {
    background: rgba(226, 226, 226, 0.5);
    position: relative;
    bottom: 0px;
}

.top-footer {
    padding: 1em;
}

.lower-footer {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
}

.lower-footer a {
    color: #000;
    text-decoration: none;
}

.left a{
    margin-right: 1em;
    border: none;
    color: #000;
    text-decoration: none;
}

.right a {
    margin-right: 1em;
    border: none;
    color: #000;
    text-decoration: none;
}

.right a:hover {
    text-decoration: underline;
}

.lower-footer a:hover {
    text-decoration: underline;
}